.credit-load-btn {
    background-color: #fff;
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px;
    border: 1px solid #000;
    padding: 6px 16px;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
  
    &:hover {
      background-color: #000;
      color: #fff;
    }
  
    .btn-text {
      @media (max-width: 768px) {
        display: none; // mobilde sadece ikon
      }
    }
  }
  
  .credit-load-modal {
    .ant-modal-content {
      border-radius: 12px;
    }
  }
  
  .credit-modal-content {
    display: flex;
    gap: 32px;
  
    @media (max-width: 768px) {
      flex-direction: column;
    }
  
    .credit-load-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      h3 {
        margin-bottom: 12px;
        font-size: 20px;
      }
  
      .credit-input {
        width: 100%;
        font-size: 18px;
        height: 48px;
      }
  
      .predefined-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
  
        .predefined-btn {
          min-width: 80px;
          font-size: 16px;
          height: 48px;
          border-radius: 8px;
          transition: all 0.3s;
          &:hover {
            background-color: #1890ff;
            color: #fff;
          }
        }
      }
  
      .credit-submit-btn {
        margin-top: 16px;
        height: 50px;
        font-size: 18px;
        border-radius: 8px;
      }
    }
  
    .credit-load-right {
      flex: 1;
      background-color: #1f1f1f;
      color: #fff;
      border-radius: 12px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
  
      h3 {
        color: #fff;
        font-size: 20px;
      }
  
      .summary-item {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
      }
  
      .promo-code {
        display: flex;
        gap: 12px;
  
        .promo-btn {
          flex-shrink: 0;
          height: 44px;
        }
  
        input {
          height: 44px;
        }
      }
  
      .total-amount {
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
      }
    }
  }
  