.dashboard-card {
  padding: 12px; // padding küçültüldü
  border-radius: 12px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .card-icon {
    font-size: 20px; // icon boyutu küçültüldü
    margin-bottom: 8px;
  }

  .card-title {
    font-size: 12px; // başlık boyutu küçültüldü
    font-weight: 500;
    margin-bottom: 6px;
  }

  .card-value {
    font-size: 20px; // değer boyutu küçültüldü
    font-weight: 700;
  }

  &.pending {
    background-color: #f39c12;
  }
  &.waiting {
    background-color: #3498db;
  }
  &.delivered {
    background-color: #2ecc71;
  }
  &.returned {
    background-color: #e74c3c;
  }
  &.cancelled {
    background-color: #9b59b6;
  }
  &.all {
    background-color: #34495e;
  }
}

@media (max-width: 768px) {
  .ant-col-xs-24 {
    width: 50% !important;
  }
}
